# Framework e Servidor
fastapi
uvicorn[standard]
python-dotenv
pandas
openpyxl
pydantic-settings
# Conexão com o Banco de Dados
psycopg2-binary
SQLAlchemy[asyncio]
# Segurança e Autenticação
passlib[bcrypt]==1.7.4
python-jose[cryptography]
typer[all]
# Dependências do FastAPI/Pydantic
email-validator
python-multipart